.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001529 !important;
  margin-top: 4rem;
  padding: 1.5rem 0 !important;

  p {
    color: white;
    margin: 0;
  }
}