.movie-list {
  width: 80%;
  margin: 0 auto !important;
  margin-top: 2rem !important;
  border-color: #001529 !important;

  .ant-list-header {
    background-color: #001529;

    h2 {
      text-align: center;
      margin: 0;
      color: white;
    }
  }

  .ant-list-items {
    height: 500px;
    overflow: scroll;
  }

  &__movie {
    .ant-list-items-meta {
      align-items: center;
    }

    .ant-list-items-meta-title {
      margin: 0;
    }
  }
}