.form-add-pio-container {
  background-color: white;
  border: 2px solid steelblue;
  padding: 2rem;
}

.form-add-pio {
  width: 600px;
}

.form-add-pio .name-user {
  width: 50%;
}

.form-add-pio .btn-crear {
  background-color: lightgrey;
}