.movie-details {
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }

  > .ant-row {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__poster {
    height: 70%;
    
    div {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__info {
    height: 70%;    

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 30px;
      h1 {
        color: white !important;
        margin-left: 10px;
        span {
          font-size: 20px;
          margin-left: 10px;
          opacity: 0.6;
        }
      }

      button {
        height: 100%;
        background-color: transparent;
        color: white;
        border: 0;
        font-size: 25px;
  
        &:hover
        &:focus
        &:active {
          background-color: transparent;
          color: turquoise;
        }
      } 
    }

    &-content {
      margin-left: 1rem;
      margin-top: 5rem;
      h3 {
        color: white;
        font-weight: bold;
        font-size: 24px;
      }
      p {
        color: white;
      }
      ul {
        li {
          color: white;
        }
      }
    }
  }
}
