.car {
  svg {
    width: 30px;
    fill: white;
  }
}

.car-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #343a40;
  height: 100vh;                /* para que ocupe todo el alto de la pantalla */
  text-align: left;
  white-space: nowrap;          /* para que las lineas de texto no caigan */
  transition: width 1s;
  z-index: 9;

  .car-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between; //que los elementos se vayan a los extremos izq-der
    padding: 20px;
    border-bottom: 1px solid #4f5256;
    height: 76px;

    > div { // los div de primer nivel
      &:first-of-type { 
        display: flex;
        svg {           //icono de cerrar
          width: 15px;
          
          fill: white;
          margin-right: 1rem;
          &:hover {
            cursor: pointer;
          }
        }
        h2 {            //titulo
          color: white;
          margin: 0;
          font-size: 24px;
        }
      }
    }
    button {          //boton de vaciar
      margin: 0;
      color: white;

      svg {           //icono de vaciar
        height: 20px;
        width: 20px;
        fill: white;
        margin-left: 10px;
      }

      &:hover {
        text-decoration: none;
        color: #0098d3;
        svg {
          fill: #0098d3;
        }
      }
    }
  }

  .car-content__products {
    height: calc(100vh - 76px - 119px); // todo el alto menos 76 arriba menos 19 abajo
    overflow-y: scroll;
  }

  .car-content__product {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #4f5256;

    img {
      width: 100px;
      margin-right: 10px;
    }

    .car-content__product-info {
      color: white;
      width: 100%;

      h3 { font-size: 18px; }
      p {
        font-size: 16px;
      }

      >div {
        &:first-of-type {
          border-bottom: 1px solid #4f5256;
        }

        &:last-of-type {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;

          p {
            margin: 0;
          }
          button {
            background-color: #0098d3;
            border-color: #0098d3;
            color: white;
            border-radius: 5px;
            margin: 0 5px;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .car-content__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      p {
        &:last-of-type {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    button {
      background-color: #0098d3;
      width: 100%;
      border: 0;
      font-size: 20px;
    }
  }
}