.pio-container .pio {
  position: relative;
  background-color: lightgrey;
}

.pio-container .pio header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pio-container .pio header h5 {
  margin: 0;
}
.pio-container .pio header svg:hover {
  cursor: pointer;
  fill: red;
}

.pio-container .pio .pio-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.8em;
}