.modal-video {
  width: 100% !important;
  height: 100%;
  padding: 0 !important;

  .ant-modal-content {
    height: 100%;
    background-color: black !important;

    .ant-modal-close {
      color: white;
      span {
        font-size: 40px;
        margin-right: 20px;
        margin-top: 20px;
      }
    }

    .ant-modal-body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        width: 90% !important;
        height: 90% !important;
      }
    }
  }
}