.product {
  padding: 0;
  min-width: 15rem;
  .card-body {
    margin: 15px;
    .card-title {
      height: 4.5rem;
    }
    .btn {
      width: 100%;
      background-color: transparent;
      color: #0098d3;
      border-color: #0098d3;
      border-radius: 50px;

      &:hover, &:active, &:focus {
        background-color: #0098d3 !important;
        border-color: #0098d3;
        color: white;
        box-shadow: none;
      }
    }
  }
}