.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 102, 136);
}

.header img {
  width: 60px;
  margin-right: 1rem;
}

.header h1 {
  color: darkgrey;
}