.top-menu {
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
    h2 {
      margin: 0;
      font-size: 22px;
    }
  }
}